/*@author: Thomas Thompson
@github: tomtom28
@comment: Homework 14 - Eat the Burger!*/

body {
    background-color: cornflowerblue;
}

img {
    width: 15%;
}

.red_font {
    color: #bc001f;
}

.tiny_text {
    font-size: 11px;
    color: blue;
}